footer {
    background-color: black;
}

h4 {
    color: white;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #ec166f;
    color: white;
  }

  .fa-github {
    background: #430297;
    color: white;
  }

  .contributor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 600;
    color: var(--text-color);
  }
  
  .username {
      text-align: center;
      font-family: niveau-grotesk, sans-serif;
      font-weight: 400;
      font-style:normal;
      color:rgb(32, 142, 179);
      margin-top: 2%;
      display: block;
      align-items:flex-start;
      height: 20%;
      width:min-content ;
  }

  div.box {
    display: block;
    width: min-content;
    position: relative;
    align-items:center;
    float:right;
    margin-right: 20%;
    margin: 2%;
  }









































































































