h1 img {
    height: 150px;
    width: 150px;
    margin:0 0 100px 20px;

}

.login {
    position: absolute;
    right: 2%;
    top: 2%;
}

.searchBar {
    position: absolute;
    left: 25%;
    top: 10%;
    width: 50%;
    text-align: center;
}