.Adidas {
   font-weight: bolder;
   color: blue;
   margin-top: 5%;
   margin-left: 2%;
 
}

p {
   margin-top: 5%;
   font-size: 17px;
}



.ADimage_right {
   border-bottom-style: solid;
   border-right-style: solid;
   border-color: yellow;
   float: right;
   margin: 0% 2% 8% 10%;
  
   
}

.ADimage_left {
   border-bottom-style: solid;
   border-left-style: solid;
   border-color: yellow;
   float: left;
   margin: 0% 5% 13% 10%;
}